##
NODE_ENV=development
GUNDB_PASS=password
## superpeers to connect with
GUNDB_PEERS="https://goodgun-dev.herokuapp.com/gun"
GUNDB_SERVERMODE=false
JWT_PASS=G00DDAPP
MNEMONIC=choice congress hobby buddy dutch busy army eager empty solution start grunt
INFURA_API=
NETWORK=production
LOG_LEVEL=trace
PLIVO_AUTH_ID=MADSFJASDF2341ASDF0G
PLIVO_AUTH_TOKEN=YWRiMl2nomwsdfoQeTBadk9290dkmEAVB13zg5G5
PLIVO_PHONE_NUMBER=1555555555
OTP_DIGITS=6
OTP_TTL_MINUTES=5
RECAPTCHA_SECRET=
SENDGRID_API_KEY=
SENDGRID_TEMPLATE_RECOVERY_INSTRUCTIONS=
SENDGRID_TEMPLATE_EMAIL_CONFIRMATION=
WALLET_URL=
FACE_RECO_SERVER=https://good-face-reco.herokuapp.com
MAUTIC_URL=
##template id
MAUTIC_VERIFY_ID=
MAUTIC_RECOVERY_ID=
MAUTIC_MAGICLINK_ID=
# Zoom (Face Recognition / Liveness Test API) License key
ZOOM_LICENSE_KEY=
# "https://api.zoomauth.com/api/v2/biometrics" for FaceTec Managed Testing API.
ZOOM_SERVER_BASEURL=https://api.zoomauth.com/api/v2/biometrics
# Minimal FaceTec Match Level threshold to mark enrollment as duplicate
# https://dev.zoomlogin.com/#/matching-guide
ZOOM_MINIMAL_MATCHLEVEL=1
GUN_PUBLIC_S3=
GUN_PRIVATE_S3=
#required for gundb to work with S3
AWS_S3_BUCKET=1
#allow multiple users to register with same mobile/email - for testing
ALLOW_DUPLICATE_USER_DATA=true
SKIP_EMAIL_VERIFICATION=true
# Time interval (in hours) to store face verification records after user deletes his account
KEEP_FACE_VERIFICATION_RECORDS=24
## Token for rollbar logging service
ROLLBAR_TOKEN=
MONGO_DB_URI=
WEB3_SITE_URL=
SECURE_KEY=
DISABLE_FACE_VERIFICATION=
ENABLE_MONGO_LOCK=
FUSE_API=https://explorer.fuse.io
TWILIO_AUTH_ID=
TWILIO_AUTH_TOKEN=
TWILIO_PHONE_NUMBER=
NUMBER_OF_ADMIN_WALLET_ACCOUNTS=1
#minimum balance in gwei of admin account to be valid
ADMIN_MIN_BALANCE=
#password to sign and encrypt jwt token for market (should be 32 symbols)
MARKET_PASSWORD=
# You can use it to test Hanuka bonus. Required. Format: { start: 23/12/2019, end: 30/12/2019 }
HANUKA_START_DATE=
HANUKA_END_DATE=
# Facebook GraphAPI base url. You could adjust version to use by adding corresponding suffix (e.g /6.0 /7.0 etc)
FACEBOOK_GRAPH_API_URL=https://graph.facebook.com