{
  "parser": "@babel/eslint-parser",
  "extends": [
    "eslint:recommended",
    "plugin:node/recommended",
    "plugin:flowtype/recommended",
    "plugin:import/recommended",
    "plugin:prettier/recommended",
    "prettier"
  ],
  "parserOptions": {
    "ecmaVersion": 2020,
    "babelOptions": {
      "plugins": [
        ["@babel/plugin-syntax-import-attributes", { "deprecatedAssertSyntax": true }]
      ]
    }
  },
  "plugins": ["flowtype", "import", "prettier", "jest"],
  "settings": {},
  "env": {
    "jest/globals": true
  },
  "rules": {
    "node/no-unpublished-import": "off",
    "node/no-extraneous-import": "off",
    "node/no-deprecated-api": "off",
    "no-console": "off",
    "no-process-exit": "off",
    "node/no-unsupported-features/es-syntax": "off",
    "prettier/prettier": "error",
    "import/no-cycle": "error",
    "import/no-unresolved": [
      "warn",
      {
        "ignore": ["web3"]
      }
    ]
  }
}
