{
  "extends": [
    "plugin:flowtype/recommended",
    "plugin:import/recommended",
    "plugin:prettier/recommended",
    "prettier",
    "prettier/babel",
    "prettier/flowtype"
  ],
  "plugins": ["dependencies", "flowtype", "import", "prettier", "jest"],
  "settings": {},
  "rules": {
    "prettier/prettier": "error",
    "dependencies/no-cycles": "error",
    "dependencies/no-unresolved": [
      "warn",
      {
        "ignore": ["web3"]
      }
    ],
    "import/no-unresolved": "warn"
  }
}
