language: node_js

cache:
  npm: true
  directories:
    - ./GoodContracts
  
env:
  global:
    - GUNDB_PASS=test
    - MNEMONIC="choice congress hobby buddy dutch busy army eager empty solution start grunt"
    - NETWORK=truffle
    - LOG_LEVEL=trace

before_install:
  - npm install -g ganache-cli truffle webpack
  
before_script:
  - cd GoodContracts && git reset GoodContracts --hard && cd .. || true
  - git -C GoodContracts pull || git clone https://github.com/GoodDollar/GoodContracts .
  - cd GoodContracts
  - ganache-cli -m "$MNEMONIC" --port 9545 --networkId 4447 -g 10000000000 &
  - truffle compile
  - truffle migrate --reset --network develop
  - cd ..

script:
  - npm run coverage
  - npm run build
