language: node_js

cache:
  npm: true

env:
  global:
    - GUNDB_PASS=test
    - JWT_PASS=test
    - MNEMONIC="myth like bonus scare over problem client lizard pioneer submit female collect"
    - NETWORK=develop
    - CI=false
    - MARKET_PASSWORD=markettokenmarkettokenmarkettoke

# before_install:
# - npm install -g ganache-cli truffle webpack

before_script:
  - pushd node_modules/@gooddollar/goodcontracts
  - npm ci
  - npm run ganache &
  - npm run wait
  - npm run deploy
  - popd

script:
  - npm link @gooddollar/goodcontracts
  - npm run coverage -- --silent
  - npm run coveralls
  - npm run build
