# This is a basic workflow to help you get started with Actions

name: Server CI/CD v1

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  push:
    branches:
      - master

  pull_request:
    branches:
      - master

  workflow_dispatch:
    inputs:
      release:
        description: 'release type'
        required: true
        default: 'qa'
      targetbranch:
        description: 'target deployment branch'
        required: false
        default: 'staging'
# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  release:
    name: Release
    if: "github.event_name == 'workflow_dispatch'"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-node@v1
        with:
          node-version: 10.21.0
      - uses: actions/checkout@v2
        with:
          persist-credentials: false
          fetch-depth: 0
          ref: ${{ github.event.inputs.release == 'qa' && 'master' || 'staging' }}
      - name: setup git
        run: |
          git config --local user.email "techadmin@gooddollar.org"
          git config --local user.name "Techadmin"
          npm install -g auto-changelog
      - name: update version qa
        if: "github.event.inputs.release == 'qa'"
        run: |
          npm version preminor -m "chore: release qa version %s [skip ci]"
          git push https://${{ secrets.GIT_AUTH }}@github.com/GoodDollar/GoodServer master:${{ github.event.inputs.targetbranch }} --force --follow-tags
          git push https://${{ secrets.GIT_AUTH }}@github.com/GoodDollar/GoodServer master --follow-tags

      - name: update version prod
        if: "github.event.inputs.release != 'qa'"
        run: |
          npm version minor -m "chore: release prod version %s [skip ci]"
          git push https://${{ secrets.GIT_AUTH }}@github.com/GoodDollar/GoodServer staging:${{ github.event.inputs.targetbranch }} --force --follow-tags
          git checkout master
          git merge staging
          git push https://${{ secrets.GIT_AUTH }}@github.com/GoodDollar/GoodServer master --follow-tags

  test:
    name: Unit Tests
    if: "github.event_name != 'workflow_dispatch' && !contains(github.event.head_commit.message,'skip ci')"
    env:
      GUNDB_PASS: test
      JWT_PASS: test
      TRAVIS: true
      NETWORK: develop
      MNEMONIC: 'myth like bonus scare over problem client lizard pioneer submit female collect'
      ADMIN_MNEMONIC: 'they bus duty candy uncover assault bullet kitchen kit acid spin physical'
      MAUTIC_BASIC_TOKEN: ${{ secrets.MAUTIC_BASIC_TOKEN }}
      CI: false
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: 10.21.0
      - name: Install npm dependencies
        uses: bahmutov/npm-install@v1

      - name: prepare blockchain for test
        run: npm run test:setup

      - name: run tests and code coverage
        env:
          MNEMONIC: ${{ env.ADMIN_MNEMONIC }}
        run: |
          echo "using mnemonic for admin: ${MNEMONIC}"
          npm run coverage -- --silent
          npm run coveralls
          npm run build
          pkill -f ganache
