# This is a basic workflow to help you get started with Actions

name: Server CI/CD v1

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  push:
    branches:
      - master

  pull_request:
    branches:
      - master

  workflow_dispatch:
    inputs:
      release:
        description: 'release type'
        required: true
        default: 'qa'
      targetbranch:
        description: 'target deployment branch'
        required: false
        default: 'staging'
# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  release:
    name: Release
    if: "github.event_name == 'workflow_dispatch'"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-node@v1
        with:
          node-version: 10.21.0
      - uses: actions/checkout@v2
        with:
          persist-credentials: false
          fetch-depth: 0
          ref: ${{ github.event.inputs.release == 'qa' && 'master' || 'staging' }}
      - name: setup git
        run: |
          git config --local user.email "techadmin@gooddollar.org"
          git config --local user.name "Techadmin"
          npm install -g auto-changelog
      - name: update version qa
        if: "github.event.inputs.release == 'qa'"
        run: |
          npm version prerelease -m "chore: release qa version %s [skip build]"
          git push https://${{ secrets.GIT_AUTH }}@github.com/GoodDollar/GoodServer master:${{ github.event.inputs.targetbranch }} --force --follow-tags
          git push https://${{ secrets.GIT_AUTH }}@github.com/GoodDollar/GoodServer master --follow-tags

      - name: update version prod
        if: "github.event.inputs.release != 'qa'"
        run: |
          npm version minor -m "chore: release prod version %s [skip build]"
          git push https://${{ secrets.GIT_AUTH }}@github.com/GoodDollar/GoodServer staging:${{ github.event.inputs.targetbranch }} --force --follow-tags
          git checkout master
          git merge staging
          git push https://${{ secrets.GIT_AUTH }}@github.com/GoodDollar/GoodServer master --follow-tags

  setup:
    runs-on: ubuntu-latest
    outputs:
      test-chunks: ${{ steps['set-test-chunks'].outputs['test-chunks'] }}
      test-chunk-ids: ${{ steps['set-test-chunk-ids'].outputs['test-chunk-ids'] }}
    steps:
      - uses: actions/checkout@v2
      - id: set-test-chunks
        name: Set Chunks
        run: echo "::set-output name=test-chunks::$(find ./src -path \*/__tests__/*.js | sort | jq -R -s -c 'split("\n")[:-1]'| jq -cM '[_nwise(length / 10 | floor)]')"
      - id: set-test-chunk-ids
        name: Set Chunk IDs
        run: echo "::set-output name=test-chunk-ids::$(echo $CHUNKS | jq -cM 'to_entries | map(.key)')"
        env:
          CHUNKS: ${{ steps['set-test-chunks'].outputs['test-chunks'] }}

  test:
    name: Unit Tests
    needs:
      - setup
    strategy:
      matrix:
        chunk: ${{ fromJson(needs.setup.outputs['test-chunk-ids']) }}
    if: "github.event_name != 'workflow_dispatch' && !contains(github.event.head_commit.message,'skip ci') && !contains(github.event.head_commit.message,'skip build')"
    env:
      GUNDB_PASS: test
      JWT_PASS: test
      TRAVIS: true
      NETWORK: develop
      MNEMONIC: 'myth like bonus scare over problem client lizard pioneer submit female collect'
      ADMIN_MNEMONIC: 'audit jealous snake hospital hello away diary wedding hold across nice tribe'
      MAUTIC_BASIC_TOKEN: ${{ secrets.MAUTIC_BASIC_TOKEN }}
      CI: false
      LOG_LEVEL: error
      CHUNKS: ${{ needs.setup.outputs['test-chunks'] }}

    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: 10.21.0
      - name: Install npm dependencies
        uses: bahmutov/npm-install@v1

      - name: prepare blockchain for test
        run: npm run test:setup

      - name: run tests and code coverage
        env:
          MNEMONIC: ${{ env.ADMIN_MNEMONIC }}
        run: |
          echo "using mnemonic for admin: ${MNEMONIC}"
          echo $CHUNKS | jq '.[${{ matrix.chunk }}] | .[] | @text' | xargs npm run coverage
          # npm run test -- src/server/gun/__tests__/GunDB.js src/server/send/__tests__/sendAPI.js
          # npm run coverage -- --silent
          # npm run coveralls
          npm run build
          pkill -f ganache

      - name: Coveralls
        uses: coverallsapp/github-action@master
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          parallel: true
          flag-name: run-${{ matrix.chunk }}

  coverage:
    needs: test
    runs-on: ubuntu-latest
    steps:
      - name: Coveralls Finished
        uses: coverallsapp/github-action@master
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          parallel-finished: true
